extends layout

block content
    if loggedIn
        div(class='links')
                h3 Links
                if currentUser
                    a(href=currentUser.url) Profile 
                    a(href='users/index') User Index
                    a(href="/log-out") Log out
                else   
                    a(href='users/index') User Index    
                    a(href='/sign-in') Sign in    
        div(class='center')
            h2(class="welcome") Welcome to LeBook, #{currentUser?currentUser.firstname:'Guest'}!
            if currentUser
                h3 Share a thought with your friends or see what they've already posted...
                form(class='post-form' action="/posts" method="POST")
                    textarea(class="post-text"  rows="5" cols="30" name="post_text" placeholder="Write a new post..." )
                    button Post
            else
                h3 See what users have been up to already!
            h3(class='timeline') Timeline
            ul(class="post-list")
                each post in posts 
                    li(class='post')
                        a(class='userlink postuser' href=post.author.url)=`${post.author.fullname}`
                        p(class='content')=post.content
                        p=`Liked by: ${post.likes.length<4 ?post.likes.map((like)=>like.fullname).join(', '): post.likes[0].fullname + ' and ' + post.likes.length-1 + ' more'}`
                        div(class='comments-starter')
                            if currentUser
                                if !post.likes.some((like)=>like._id.equals(locals.currentUser._id))
                                    form(action="/posts/likes" method="POST")
                                        input(hidden="true" type="text" name="post_id" value=post._id)
                                        button Like
                                else
                                    form(action="/posts/unlikes" method="POST")
                                        input(hidden="true" type="text" name="post_id" value=post._id)
                                        button Unlike
                            h4(class='comment-header') Comments
                        if post.comments.length>0
                            ul(class='comment-list')
                                each comment in post.comments
                                    li(class='comment')
                                        a(class='userlink' href=comment.author.url)=`${comment.author.fullname}`
                                        p(class='content')=comment.content
                                        p=`Liked by: ${comment.likes.length<4 ?comment.likes.map((like)=>like.fullname).join(', '): comment.likes[0].fullname + ' and ' + comment.likes.length-1 + ' more'}`
                                        if currentUser
                                            if (!comment.likes.some((like)=>like._id.equals(currentUser._id)))
                                                form(action="/posts/comments/likes" method="POST")
                                                    input(hidden="true" type="text" name="comment_id" value=comment._id)
                                                    button Like
                                            else
                                                form(action="/posts/comments/unlikes" method="POST")
                                                    input(hidden="true" type="text" name="comment_id" value=comment._id)
                                                    button Unlike
                        else if currentUser
                            p(class='no-comment') Be the first to add a comment!
                        if currentUser
                        form(class='add-comment' action="/posts/comments" method="POST")
                            label(for="comment_text") Add a comment
                            input(class="comment-text" type='text' name="comment_text")
                            input(hidden="true" type="text" name="post_id" value=post._id)
                            button Post
        div(class='empty')
    else
        div(class='empty')
        div(class='center')
            h2 Welcome to LeBook! Sign in, log in as guest, or create a new account to get started. #{user}
            a(href="/sign-in") Sign in
            a(href="/?guest=true") Sign in as guest
            a(href="/create-new-user") Create new user
            


