extends layout

block content

    if user
        div(class='center')
            h2 Welcome to LeBook, #{user.firstname}!
            a(href="/log-out") Log out
            form(action="/posts" method="POST")
                label(for="post_text") Share a thought with your friends...
                input(class="post-text" type='text' name="post_text" )
                button Post
            if posts.length>0
                h4 And check out these awesome posts! 
                ul(class="post-list")
                    each post in posts 
                        li
                            p=`${post.author.fullname}:`
                            p=post.content
                            p=`Likes: ${post.likes.map((like)=>like.fullname).join(', ')}`
                            if !post.likes.some((like)=>like._id.equals(locals.currentUser._id))
                                form(action="/posts/likes" method="POST")
                                    input(hidden="true" type="text" name="post_id" value=post._id)
                                    button Like
                            else
                                form(action="/posts/unlikes" method="POST")
                                    input(hidden="true" type="text" name="post_id" value=post._id)
                                    button Unlike
                            h5 Comments
                                if post.comments.length>0
                                    each comment in post.comments
                                        li
                                            p=`${comment.author.fullname}:`
                                            p=comment.content
                                            p=`Likes: ${comment.likes.map((like)=>like.fullname).join(', ')}`
                                            if (!comment.likes.some((like)=>like._id.equals(currentUser._id)))
                                                form(action="/posts/comments/likes" method="POST")
                                                    input(hidden="true" type="text" name="comment_id" value=comment._id)
                                                    button Like
                                            else
                                                form(action="/posts/comments/unlikes" method="POST")
                                                    input(hidden="true" type="text" name="comment_id" value=comment._id)
                                                    button Unlike
                            form(action="/posts/comments" method="POST")
                                label(for="comment_text") Add a comment
                                input(class="comment-text" type='text' name="comment_text")
                                input(hidden="true" type="text" name="post_id" value=post._id)
                                button Add comment
        block sidebar
        div(class="sidebar-right")
            h4 Add new friends:
            ul(class='sidebar-nav')
                each newUser in possibleFriends
                    li
                        p=newUser.fullname
                        form(action="/friend-request" method="POST")
                            input(type='text' value=user.id
                            name="from_user" hidden="true")
                            input(type='text' value=newUser.id name="to_user" hidden="true")
                            button Add friend
            if pendingRequests && pendingRequests.length>0
                h4 New friend requests:
                    ul(class='sidebar-nav')
                        each newFriend in pendingRequests
                            li
                                p=newFriend.fullname
                                form(action="/accept-request" method="POST")
                                    input(type='text' value=user.id
                                    name="to_user" hidden="true")
                                    input(type='text' value=newFriend.id name="from_user" hidden="true")
                                    button Accept request
    else
        div(class='center')
            h2 Welcome to LeBook! Sign in or create a new account to get started. #{user}
            a(href="/sign-in") Sign in
            a(href="/create-new-user") Create new user
            


